# tells GitHub to ignore these files 
# always include these 3 things! 

./server/node_modules 
# just so many things
.DS_Store
# macOS file that includes irrelevent data about the folder. not needed to be pushed to Git
./server/package-lock.json
# all the unnessesary package.json files
.env

./test.js