* {
    padding: 10px;
    margin: 10px;
    background-color: #AB8C77;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 10px;
}
#enterKeyword, #searchBox {
    display: flex;
}

td {
    margin-left: 0;
    padding-left: 0;
    background-color: transparent;
}

#resultsSection {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 90%;
    border-radius: 20px 20px 0px 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100vh;
    width: 70vw;
    box-shadow: 3px 10px 10px antiquewhite;
    padding: 10px;
    border-radius: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

a {
    text-decoration: none;
    /* background-color: antiquewhite; */
    padding: 10px;
    border-radius: 20px;
    min-width: 40px;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchSavedSct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}
input[type=text] {
    background-color: antiquewhite;
    color: black;
    padding: 30px;
    border: none;
    border-radius: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
}
#searchKeyWrd {
    text-decoration: none;
    background-color: antiquewhite !important;
    color: black !important;
    padding: 30px !important;
    border: none;
    border-radius: 20px !important;
    max-width: 20px;
    display: flex;
    justify-content: center;
}